<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openform()">Open Form</button>
    <h1>{{ 'Nilai a : ' + jumlah }}</h1>
    <h1>{{ 'Rata-rata : ' + (jumlah / panjang) }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0 ,
        jumlah : a ,
        panjang ; this.a.length ,
      },
      methods : {
          openform : function(){
            let jumlah = 0;
            for (let i = 0; i < this.a.length; i++)
            this.a = prompt("Masukkan nilai a")
            total = total + this.a
            {if (jumlah == 10) {return jumlah)
            }

            return panjang = this.a.length
            }
          }
      }
  })
  </script>
</body>
</html>