<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()" >
        <p v-if="errors.length">
            <b>Please correct the following errors: :</b>
            <ul>
                <li v-for="error in errors">{{ error }}
            </li>
            </ul>
        </p>
        <label>Name: </label><br>
        <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name"><br>
        <label>Address: </label><br>
        <input type="text" :disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="address"></input><br>
        <label>No HP: </label><br>
        <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp"><br>
        <div v-if="buttonStatus == 'submit'">
            <input type="submit" value="submit">
        </div>
        <div v-else-if="buttonStatus == 'update'">
            <input type="button" value="update" @click="updateMember(ideditMember)">
            <input type="button" value="cancel" @click="clearForm">
        </div>
        <div v-else-if="buttonStatus == 'upload'">
            <input type="file" name="foto" ref="photo">
            <input type="button" value="upload" @click="submitphoto(iduploadMember)">
            <input type="button" value="cancel" @click="clearForm">
        </div>

        <member-component 
            v-for="members in members" 
            :members="members">
        </member-component>


        </form>

        <br><br>

        <table border="1">
            <tr v-for="member of members">
                <td>
                    <img width="100" src="https://dummyimage.com/300" alt="">
                </td>
                <td>
                    <b>Name :</b> {{ member.name }} <br>
                    <b>Address :</b> {{ member.address }} <br>
                    <b>No HP :</b> {{ member.no_hp }} <br>
                </td>
                <td>
                    <button @click="editMembers(member)">Edit</button>
                    <button @click="removeMember(member.id)">Delete</button>
                    <button @click="uploadphoto(member)">Upload Photo</button>
                </td>
            </tr>
        </table>

    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var memberComponent = {
        template :
            <div>
                <h1>{{ members,name }}</h1>
                <h1>{{ members,address }}</h1>
                <h1>{{ members,no_hp }}</h1>
                <button>Edit</button>
                <button>Delete</button>
                <button>Upload Photo</button>
            </div>
        ,
        data(){
            return {
                pesan : ''
            }
        },
        props : ['members']
    }

    var vm = new Vue({
        el: '#app',
        components : {
            'member-component' : memberComponent
        },

        data: {
            name: '',
            address: '',
            no_hp: '',
            errors: [],
            members: [],
            buttonStatus: 'submit',
            ideditMember: null,
            iduploadMember: null
        },
        
        methods: {
            validationForm: function(){
                this.errors = []

                if(this.name.length < 5){
                    this.errors.push('Name minimal 5 karakter')
                    this.$refs.name.focus()
                }

                if(this.address.length < 10){
                    this.errors.push('Address minimal 10 karakter')
                    this.$refs.description.focus()
                }

                if(this.no_hp.length > 13){
                    this.errors.push('No HP maksimal 13 karakter')
                    this.$refs.nohp.focus()
                }
            }, 

            submitForm: function(){
                this.validationForm()

                if(this.errors.length === 0){
                    let formData = new formData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    const config = {
                    method : "post",
                    url : "http://demo-api-vue.sanbercloud.com/api/member",
                    data : formData
                }

                axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                    })   
                }
            },
            
            getMembers: function(){
                const config = {
                    method : "get",
                    url : "http://demo-api-vue.sanbercloud.com/api/member"
                }

                axios(config)
                    .then( (response) => {
                        this.members= response.data.members
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },

            removeMember: function(id){
                const config = {
                    method : "post",
                    url :"http://demo-api-vue.sanbercloud.com/api/member/$(id)",
                    params : { _method :"delete"}
                }
                axios(config)
                    .then((response) => {
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch((error) => {
                        console.log(error) 
                    })         
            },
            
            editMembers: function(member){
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = 'update'
                this.ideditMember = member.id
            },

            clearForm: function(){
                this.name = ''
                this.address = ''
                this.no_hp = ''
                this.buttonStatus = 'submit'
                this.ideditMember = null
                this.iduploadMember = null
            },

            updateMember: function(id){
                this.validationForm()
                    if(this.errors.length === 0){
                        let formData = new formData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        let config = {
                            method : "post",
                            url : "http://demo-api-vue.sanbercloud.com/api/member/$(id)",
                            params : { _method : 'PUT'},
                            data : formData 
                        }
                        axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                    }
            },

            uploadphoto: function(member){
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = 'upload'
                this.iduploadMember = member.id
            },

            submitphoto: function(id){
                let file = this.$refs.photo.files[0]

                let formData = new formData()
                formData.append('photo', file)

                let config = {
                    method : "post",
                    url : "http://demo-api-vue.sanbercloud.com/api/member/$(id)/upload-photo-profile",
                    data : formData 
                }
                axios(config)
                    .then((response) => {
                        this.clearForm()
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }

        },
        created(){
            this.getMembers()
        },
    })
</script>
</body>
</html>