body{
    background-color: #c7e7e8;
    text-align: center;
    background-image: url("bluesnow.png");
}

h1{
    text-align: center;
    color: #0f3a83;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

p{
    text-align: center;
    line-height: 5px;
    color: rgb(54, 54, 54);
    word-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    background-image: url("geometric.png");
    background-color: rgb(191, 230, 236);
    background-size: cover;
    border-radius: 100px;
    margin: 0 auto;
    border: 1px solid lightcyan;
}