<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input v-model="return" autofocus required>
    <button v-on:click="add">Add</button>
    <!--button v-on:click="add">Add</button-->
    <ul>
      <li 
			v-for='item in users' >
      {{ item.nama }}
      <button v-on:click="edit">Edit</button> ||
      <button v-on:click="delete">Delete</button>
			</li>
    </ul>
  </div>
  
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
     var Vue({
      el: '#app',
      data : {
        users : [
					{ nama: 'Muhammad Iqbal Mubarok',},
					{ nama: 'Ruby Purwanti',},
					{ nama: 'Faqih Muhammad',}
        ]
      }
      methods : {
				add: function() {
					this.users.push(name : '')
				},
        edit: function(){
          this.users.edit(name : '')
        }
				delete: function(){
					this.users.splice(index,1)
        }
        update: function() {
          this.users.push(edit.nama)
        }

      }
    })
  </script>
</body>
</html>